:root {
    --main-col: rgb(219, 190, 0)
}

.nav-logo {
    width: 140px;
    object-fit: contain;
}

.hero-img {
    min-height: 80dvh;
    background-image: url(https://pbs.twimg.com/media/ETwIjhuWoAI8v1R.jpg:large);
    background-size: cover;
    background-position: center;
}

.hero-img-bottom {

    min-height: 50dvh;
    background-image: url(Assets/skele-banner.png);
    background-size: cover;
    background-position: center;
}

.main-background-color {
    background-color: var(--main-col);
}

.rectangle {
    height: 100px;
    width: 20px;
    background-color: var(--main-col);
    border-radius: 1em;
}