:root {
    --main-col: rgb(219, 190, 0)
}

.nav-logo {
    width: 140px;
    object-fit: contain;
}

.hero-img {
    min-height: 80dvh;
    background-image: url(https://pbs.twimg.com/media/ETwIjhuWoAI8v1R.jpg:large);
    background-size: cover;
    background-position: center;
}

.hero-img-bottom {

    min-height: 62dvh;
    background-image: url(Assets/skele-banner.png);
    background-size: cover;
    background-position: center;
}

.main-background-color {
    background-color: var(--main-col);
}

.rectangle {
    height: 100px;
    width: 20px;
    background-color: var(--main-col);
    border-radius: 1em;
}

/* hanging card css */
.containing-block {
    position: relative;
    min-height: 5vh;
    padding: 0;
}

@media (min-width: 768px) {
    .magic-card {
        position: absolute;
        bottom: -20vh;
    }

    .magic-card-offset {
        margin-top: 15vh;
    }
}




h2 {
    font-family: "Angkor", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/*Google Fonts*/
.angkor-regular {
    font-family: "Angkor", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-mono {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}